<!-- course_template.html -->
{% extends 'base.html' %}

{% block content %}

  <h2>Course: {{ course.name }}</h2>
  <form method="post" action="{% url 'wishlist_add' course.id %}">
    {% csrf_token %}
    <label for="user_name">course_name:</label>
    <input type="text" id="user_name" name="course_name" required>

    <button class="wishlist-btn" data-course-name="{{ course.name }}">Add to Wishlist</button>
  </form>
  
  <!-- Rest of the course details -->
{% endblock %}

{% block scripts %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const wishlistBtn = document.querySelector('.wishlist-btn');

      wishlistBtn.addEventListener('click', function() {
        const courseName = this.getAttribute('data-course-name');

        fetch(`/add_to_wishlist/${courseName}/`)
          .then(response => response.json())
          .then(data => {
            alert(data.message);
          });
      });
    });
  </script>
{% endblock %}
