{% extends 'base.html' %} {% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'application1/css/detail.css' %}">
<h3 align="center">Product Details</h3>
<div class="container">
  <div class="row justify-content-center m-4">
    <div class="col md-4">
      
      <a href="{% url 'show' %}" class="btn btn-info"><i class="fa fa-arrow-left" style="font-size: 40px"></i
        ></a>
      <div class="card m-2" style="width: 18rem">
        <img
          src="{{ eachProduct.image.url }}"
          class="card-img-top"
          alt="..."
          height="300px"
          width="200px"
        />
        <div class="card-body">
          <h5 class="card-title">{{eachProduct.name}}</h5>
          <p class="card-text">{{eachProduct.price}}</p>
          <p class="card-text">{{eachProduct.description}}</p>
          <p class="card-text mt-1">{{eachProduct.created_at}}</p>
          <a href="{% url 'update' eachProduct.pk %}" class="btn btn-primary"
            ><i class="fa fa-edit" style="font-size: 40px"></i
              ></a
          >
          <a href="{% url 'delete' eachProduct.pk %}" class="btn btn-danger"
            ><i class="fa fa-trash" style="font-size: 40px;"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
