body{
    background-color: #dee2e6;
}
.card {
    border: 1px solid #dee2e6; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
   
  }
  
  .card-title {
    font-size: 20px; 
    color: #333; 
  }
  
  .card-text {
    font-size: 15px; 
    color: #555; 
    text-align: left;
  }

  a{
    text-decoration: none;
  }

  h3{
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
